.todo {
    width: 30%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: 0.5em;
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
}

.todo h3 {
    margin: 0px;
}

.todo p {
    margin: 0px;
}

.completed {
    opacity: 50%;
    background-color: lightgreen;
    text-decoration: line-through;
}

#complete-items {
    border: 0.1em solid blue;
    width: 50%;
    box-sizing: border-box;
}

#incomplete-items {
    border: 0.1em solid black;
    width: 50%;
    box-sizing: border-box;
}

#complete-items,
#incomplete-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#all-items{
    display: flex;
}
